/* DIRTY ADDING SOON */

.item__caption.item__caption--coming-soon {
	color: #000;
	border-bottom: none;
}

.item__caption--coming-soon::before {
	display: block;
	width: 110px;
	color: #fff;
	font-weight: 700;
	background: rgba(250, 48, 125, 1);
	font-size: 14px;
	margin: 0;
	padding: 0 3px;
	content: "Скоро добавлю"
}

/*LAYOUT*/

body {
	padding: 1rem 0.5rem 0 1.25rem;
	font-family: "Roboto Mono", monospace;
	background: #FFFCFC;
	height: 1px;
}

aside {
	display: flex;
	margin: 0 0 3rem 0;
	justify-content: space-between;
	align-items: baseline;
	/*padding-left: 5rem;*/
}


.rainy-sp {
	background: url("../img/rainy.png") no-repeat left top;
	padding-left: 3rem;
	padding-top: 3rem;
	margin-top: 3rem;
}

hr {
	height: 2px;
	background: #000;
	border: none;
}

::selection {
	background: rgba(250, 48, 125, 1);
}

.item {
	margin: 0 0 3.2em 0;
	position: relative;
}

.item:last-child {
	margin-bottom: 0;
}

.container {
	font-size: 0.8rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-grow: 1;
	align-items: center;
}

.item__cover {
	margin: 1em 0 0 0;
	max-width: 100%;
	height: auto;
}

.project {
	font-size: 10px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.project__image {
	max-width: 100%;
	height: auto;
	margin-bottom: 4em;
}

.project__image--bounded {
	box-shadow: 0 3px 12px 0 rgba(0,0,0,.2);
	max-width: 100%;
	height: auto;
	margin-bottom: 4em;
}

.project__image--browser {
	border-radius: 6px;
}

.project-details {
	/* может быть нужен position: relative; ???*/
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.project-details__item {
	/* ПОДОБРАТЬ min-width: 350px; */
}

/* ----- TEXT ----- */

html {
	font-size: 12px;
}

h1 {
	font-size: 4em;
	line-height: 1.3;
	cursor: default;
	text-align: center;
	margin: 0.5em 0 0.3em 0;
}

.aside__header {
	max-width: 10rem;
	font-size: 1.25rem;
	font-weight: bold;
	margin-top: 0;
}

/*.aside__header:after {
	content: " →";
}*/

.aside__text {
	font-size: 1.25rem;
	line-height: 2rem;
}

.aside__left-hand-path {
	color: rgba(6,6,6,0);
}

.aside__left-hand-path::selection {
	color: rgba(6,6,6,1);
}

.item__caption {
	font-size: 2em;
	font-weight: bold;
}

.project__text {
	font-size: 1.8em;
	line-height: 1.5;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;;
	max-width: 48em;
	margin-bottom: 2em;
}

/* ----- LINKS ----- */

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	border-bottom: 1px solid;
}

a:link {
	color: #004794;
	border-color: #004794;
	transition-property: color, border-color;
	transition-duration: .15s;
	transition-timing-function: ease-in;
}

a:visited {
	color: #55224c;
  border-color: #55224c;
	transition-property: color, border-color;
	transition-duration: 0s;
	transition-timing-function: ease-in;
}

a:hover {
	color: #FF5141;
  border-color: #FF5141;
	transition-property: color, border-color;
	transition-duration: 0s;
	transition-timing-function: ease-in;
}

.item a {
	border: none;
}

.item__caption {
	display: inline;
	color: #004794;
	border-bottom: .12em solid #004794;
	text-decoration: none;
	transition-property: color, border-color;
	transition-duration: .3s;
	transition-timing-function: ease-in;
	z-index: 23;
}

a:visited .item__caption {
	color: #55224c;
  border-color: #55224c;
	text-decoration: none;
	transition-property: color, border-color;
	transition-duration: 0s;
}

a:hover .item__caption {
	color: #FF5141;
  border-color: #FF5141;
	text-decoration: none;
	transition-property: color, border-color;
	transition-duration: 0s;
}


/* TRANSITIONS */

body,
.container,
.side,
.item {
	transition: all .2s ease-in;
}


/* BREAKPOINTS */

@media (min-width: 400px) {
	body {
		padding: 2rem 1rem 0 2.5rem;
	}
}

@media (min-width: 550px) {
	.container {
		font-size: 1rem;
		/*max-width: 1200px;*/
	}
}

@media (min-width: 960px) {
	.project {
		font-size: 12px;
	}
	body {
		padding: 2rem 3rem;
	}
	.container {
		padding-left: 22rem;
		padding-bottom: 4rem;
	}
	aside {
		background: url('../img/head.png') no-repeat left top;
		position: fixed;
		width: 10rem;
		display: block;
		padding-top: 3rem;
		padding-left: 3rem;
	}
	.rainy-sp {
		bottom: 0;
	}
	.item {
		margin: 0 5em 5em 0;
		position: relative;
	}
	.item__caption.xl {
		font-size: 2.666em;
	}
	.item__header--top {
		max-width: 254px;
		position: absolute;
		top: 0;
		left: 0;
	}
	.item__header--bottom {
		max-width: 160px;
		position: absolute;
		bottom: 0;
		left: 0;
	}
	.item__cover {
		margin: 1.5em 0 0 0;
	}
	.item__cover.drums {
		margin-top: 0;
		padding-left: 66px;
		padding-bottom: 38px;
	}
	.item__cover.checkin {
		margin-top: 0;
		padding-bottom: 88px;
	}
}

@media (min-width: 1441px) {
	.container {
		padding-left: 23rem;
	}
	.item {
		margin: 0 7em 7em 0;
	}
}
