/*LAYOUT*/

body {
	padding: 1rem 1rem 0 1rem;
	font-family: 
		-apple-system, 
		BlinkMacSystemFont, 
		"Helvetica", 
		sans-serif;
	background: #FFFCFC;
	height: 1px;
}

aside {
	display: flex;
	margin: 0 0 3rem 0;
	justify-content: start;
	align-items: baseline;
	/*padding-left: 5rem;*/
}


.zlata-praha {
	padding-left: 3rem;
	padding-top: 3rem;
	margin-top: 3rem;
}

hr {
	height: 2px;
	background: #000;
	border: none;
}

::selection {
	background: rgba(250, 48, 125, 1);
}

.item {
	margin: 0 0 3.2em 0;
	position: relative;
}

.item:last-child {
	margin-bottom: 0;
}

.container {
	font-size: 0.8rem;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex-grow: 1;
	align-items: flex-start;
}

.item__cover {
	margin: 1em 0 0 0;
	max-width: 100%;
	height: auto;
}

.project {
	font-size: 10px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.project__image {
	max-width: 100%;
	height: auto;
	margin-bottom: 4em;
}

.project__image--bounded {
	box-shadow: 0 3px 12px 0 rgba(0,0,0,.2);
	max-width: 100%;
	height: auto;
	margin-bottom: 4em;
}

.project__image--browser {
	border-radius: 6px;
}

.project-details {
	/* maybe position: relative; ???*/
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

/* ----- TEXT ----- */

html {
	font-size: 12px;
}

h1, h2, h3, h4 {
	font-family: "Normalidad Extended Bold";
	font-weight: normal;
	font-style: normal;
}

h1 {
	font-size: 4em;
	line-height: 1.3;
	cursor: default;
	text-align: center;
	margin: 0.5em 0 0.3em 0;
}

.aside__header {
	/* max-width: 10rem; */
	font-size: 1.25rem;
	line-height: 1.8rem;
	font-weight: 600;
	margin-top: 0;
}

/*.aside__header:after {
	content: " →";
}*/

.aside__text {
	font-size: 1.25rem;
	line-height: 1.8rem;
}

.aside__text a {
	border-bottom: 1px solid;
}

.aside__left-hand-path {
	color: rgba(6,6,6,0);
}

.aside__left-hand-path::selection {
	color: rgba(6,6,6,1);
}

.item__caption {
	font-size: 2em;
	font-weight: bold;
}

.item__info {
	margin: 12px 0 0 0;
}

a .item__info {
	color: #000;
	font-size: 16px;
	font-weight: 400;
}

.project__text {
	font-size: 22px;
	line-height: 1.5;
	max-width: 960px;
	margin-bottom: 2em;
}

/* ----- LINKS ----- */

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

a:link {
	color: #004794;
	border-color: rgba(0, 71, 148, 0.32);
	transition-property: color, border-color;
	transition-duration: .15s;
	transition-timing-function: ease-in;
}

a:visited {
	color: #55224c;
  	border-color: rgba(85, 34, 76, 0.32);
	transition-property: color, border-color;
	transition-duration: 0s;
	transition-timing-function: ease-in;
}

a:hover {
	color: #FF5141;
  	border-color: rgba(255, 81, 65, 0.32);
	transition-property: color, border-color;
	transition-duration: 0s;
	transition-timing-function: ease-in;
}

.item a {
	border: none;
}

.item__caption {
	display: inline;
	color: #004794;
	border-bottom: 1px solid rgba(0, 71, 148, 0.32);
	text-decoration: none;
	transition-property: color, border-color;
	transition-duration: .3s;
	transition-timing-function: ease-in;
	z-index: 23;
}

a:visited .item__caption {
	color: #55224c;
    border-color: rgba(85, 34, 76, 0.32);
	text-decoration: none;
	transition-property: color, border-color;
	transition-duration: 0s;
}

a:hover .item__caption {
	color: #FF5141;
    border-color: rgba(255, 81, 65, 0.32);
	text-decoration: none;
	transition-property: color, border-color;
	transition-duration: 0s;
}


/* TRANSITIONS */

body,
.container,
.side,
.item {
	transition: all .15s ease-in;
}


/* BREAKPOINTS */

@media (min-width: 400px) {
	body {
		padding: 2rem;
	}

	.aside__text {
		padding-left: 24px;
	}
}

@media (min-width: 550px) {
	.container {
		font-size: 1rem;
	}
}

@media (min-width: 960px) {
	.project {
		font-size: 12px;
	}
	body {
		padding: 2rem;
	}
	.container {
		padding-left: 22rem;
		padding-bottom: 4rem;
	}
	aside {
		background: url('/static/img/gleb.jpg') no-repeat left top;
		background-size: 64px 64px;
		position: fixed;
		/* width: 10rem; */
		display: block;
		padding-top: 6rem;
		padding-left: 0rem;
	}

	.aside__text {
		padding-left: 0;
	}
	.rainy-sp {
		bottom: 0;
	}
	.item {
		margin-bottom: 5em;
		position: relative;
	}
	.item__caption.xl {
		font-size: 3em;
	}
	.item__header--top {
		max-width: 254px;
		position: absolute;
		top: 0;
		left: 0;
	}
	.item__header--bottom {
		max-width: 160px;
		position: absolute;
		bottom: 0;
		left: 0;
	}
	.item__cover {
		margin: 1.5em 0 0 0;
	}
	.item__cover.he {
		margin: 1em 0 -2% -2%;
	}
	.item__cover.drums {
		margin-top: 0;
		padding-left: 66px;
		padding-bottom: 38px;
	}
	.item__cover.checkin {
		margin-top: 0;
		padding-bottom: 88px;
	}
}

@media (min-width: 1441px) {
	.container {
		padding-left: 23rem;
		max-width: 1720px;
	}
	.item {
		margin-bottom: 6em;
	}
}
